<% form_tag microposts_path, :method => 'get' do %> <!-- search bar for the micropost -->
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search all posts", :name => nil %>
	</p>
<% end %>
<% unless current_user.nil? %>
<% form_tag micropost_path(current_user), :method => 'get' do %> <!-- search bar for the micropost -->
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search my posts", :name => nil %>
	</p>
<% end %>
<% end %>

<% if signed_in? %> <!-- add microposts creation form to homepage -->
	<%= render 'pages/home_signed_in' %> <!-- the path relative to views dir should be used (the pages/ ) -->
<% else %>
	<%= render 'pages/home_not_signed_in' %>
<% end %>

<table cellspacing="0" cellpadding="0" border="0"><tr><td><iframe src="http://www.map-generator.net/extmap.php?name=Spot&amp;address=10%20market%20st%2C%20san%20francisco&amp;width=500&amp;height=400&amp;maptype=map&amp;zoom=14&amp;hl=en&amp;t=1311888850" width="500" height="400" marginwidth="0" marginheight="0" frameborder="0" scrolling="no"></iframe></td></tr></table><!-- Do not change code! -->